.item {
  border: unset;
  font-family: var(--font-primary);
  font-size: 19px;
  line-height: 19px;
  background-color: unset;
  padding: 20px 0;
  display: flex;
  text-transform: capitalize;
}

.itemIcon {
  padding: 1px 6px;
  img {
    width: 16px;
    height: 16px;
  }
}

.item:hover {
  border-radius: 12px;
  cursor: pointer;
}

.repudiandae {
  filter: invert(11%) sepia(94%) saturate(7146%) hue-rotate(277deg)
    brightness(84%) contrast(113%);
}

.sitatenim {
  filter: invert(82%) sepia(59%) saturate(3611%) hue-rotate(130deg)
    brightness(88%) contrast(101%);
}

.doloreipsum {
  filter: invert(47%) sepia(70%) saturate(3463%) hue-rotate(170deg)
    brightness(94%) contrast(101%);
}

.praesentiumaspernatur {
  filter: invert(10%) sepia(100%) saturate(5872%) hue-rotate(324deg)
    brightness(94%) contrast(101%);
}

@media (max-width: 900px) {
  .item {
    font-size: 17px;
    flex: none;
  }
}
