body {
  margin: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  .heroIn {
    padding: 40px 130px;
  }

  .logo {
    position: fixed;
    top: 10px;
    height: 78px;
    background-color: transparent;
    padding: 40px 130px;
  }

  .logoImg {
    height: 60px;
    filter: invert(1);
  }

  .colorChange {
    position: fixed;
    top: 0px;
    z-index: 10;
    height: 78px;
    width: 100%;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(12px);
    padding: 0px 130px;
    transition: background-color 0.1s;

    .logoImg {
      height: 42px;
      filter: unset;
      padding: 20px;
    }
  }

  .title {
    margin-top: 80px;
    max-width: 500px;
  }

  .subtitle {
    color: var(--white);
    padding: 32px 0;
    max-width: 500px;
  }

  .buttons {
    display: flex;
    gap: 18px;
  }

  .scroll {
    margin-top: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(8px);
    width: 42px;
    height: 40px;
    .smallArrow {
      display: none;
    }
    .bigArrow {
      display: block;
    }
  }

  .scroll:hover {
    .bigArrow {
      display: none;
    }
    .smallArrow {
      display: block;
      text-align: center;
      padding-top: 8px;
    }
  }
}
.scrollConteiner {
  width: 100%;
}

@media (max-width: 768px) {
  .hero {
    background-color: linear-gradient(
      180deg,
      rgba(37, 22, 0, 0) 0%,
      #251600 100%
    );

    .logo {
      position: unset;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 24px;
      height: unset;
    }
    .logoImg {
      height: 37px;
    }

    .heroIn {
      padding: 0;
    }

    .title {
      padding: 0 24px;
      line-height: 106%;
    }

    .subtitle {
      padding: 32px 24px;
    }
    .buttons {
      padding: 0 24px;
      flex-direction: column;
    }
    .colorChange {
      padding: unset;
    }
  }
  .scrollConteiner {
    text-align: -webkit-center;
  }
}
