:root {
  // fonts
  --font-primary: "Merriweather", serif;
  --font-secondary: "Inter", sans-serif;

  //text and buttons colors
  --white: #fff;
  --gray: #6a6a6a;
  --orange: #ff9900;
  --purple: #7a00da;
  --lightBlue: #00cdda;
  --darkBlue: #0098da;
  --pink: #da0069;
  --darkGray: #242424;
  --lightGray: #eaeaea;

  //background color

  --bgBlue: #004c6c;
  --bgGray: #f8f8f8;

  //hover
  --hoverOrange: #ed8e00;
  --hoverBlue: #0098da12;
  --hoverPurple: #9000ff;
  --hoverGray: #dfdfdf;
}
