.section {
  max-width: 500px;
  padding: 50px 130px;
}

.doloreSection {
  padding: 50px 130px;
}

.topSec {
  display: flex;
}

.doloreTopSec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  padding: 12px;
  border-radius: 50%;
  img {
    height: 37px;
    width: 37px;
  }
}

.doloreIcon {
  padding: 27px 24px;
  border-radius: 50%;
  img {
    height: 63px;
    width: 72px;
  }
}

.label {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: var(--gray);
}

.topTitle {
  padding: 10px;
}

.description {
  margin: 18px 0;
}

.itemImgDolore {
  height: 510px;
  width: 510px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  right: -150px;
  top: 5px;
}

.atIcon {
  background: #edd6ff79;
  background-blend-mode: overlay;
  border: 4px solid #ffffff;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  top: 110px;
  right: 80px;
}

.fileIcon {
  background: rgba(255, 214, 234, 0.507);
  background-blend-mode: overlay;
  border: 4px solid #ffffff;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  top: 100px;
  right: 300px;
}

.conteiner {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.doloreConteiner {
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: right;
  display: block;
  position: relative;
  text-align: -webkit-center;
  padding: unset;
}

.rev {
  flex-direction: row-reverse;
}

.repudiandae {
  filter: invert(11%) sepia(94%) saturate(7146%) hue-rotate(277deg)
    brightness(84%) contrast(113%);
}

.sitatenim {
  filter: invert(82%) sepia(59%) saturate(3611%) hue-rotate(130deg)
    brightness(88%) contrast(101%);
}

.doloreipsum {
  filter: invert(97%) sepia(0%) saturate(54%) hue-rotate(269deg)
    brightness(104%) contrast(101%);
}

.praesentiumaspernatur {
  filter: invert(10%) sepia(100%) saturate(5872%) hue-rotate(324deg)
    brightness(94%) contrast(101%);
}

.linkBtn {
  cursor: pointer;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.07), 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 32px;
  padding: 18px;
  color: var(--white);
}

.itemImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.btnConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.doloreBtn {
  background: none;
  border: 2px solid #0098da;
  color: #0098da;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.07), 0px 2px 4px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(8px);
  border-radius: 32px;
  padding: 13px 24px 13px 18px;

  img {
    filter: invert(47%) sepia(70%) saturate(3463%) hue-rotate(170deg)
      brightness(94%) contrast(101%);
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.line {
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 38px;
  margin: 30px 0;
}

@media (max-width: 768px) {
  .section,
  .doloreSection {
    padding: 24px;
  }

  .section:nth-of-type(1) {
    order: 2;
  }
  .conteiner {
    padding: unset;
    display: block;
    display: grid;
  }

  .itemImg {
    border-radius: unset;
    height: 400px;
    width: 100%;
  }
  .doloreConteiner {
    text-align: unset;
  }
  .doloreTopSec {
    align-items: unset;
  }
  .doloreIcon {
    width: 96px;
    height: 96px;
    padding: unset;
    img {
      height: 48px;
      width: 43px;
      padding: 24px;
    }
  }

  .btnConteiner {
    display: flex;
    flex-direction: column;
    padding: 24px;
    button,
    a {
      width: 100%;
      text-align: center;
    }
  }
  .icon {
    padding: 24px;
  }
}
